html{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    color:azure;
}


#button {
    background-color: silver;
    border: none;
    color: white;
    padding: 5 5;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#stopButton {
    background-color: silver;
    border: none;
    color: white;
    padding: 6 6;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


 .slide{
     position: absolute;
     left: 55px;
     top: 255px;
     opacity: 0;
     z-index: 1;
 }
 .showing{
    position: absolute;
    left: 55px;
    top: 255px;
    opacity: 1;
    z-index: 2;
 }

 
 .slide2{
     position: absolute;
     left: 220px;
     top: 255px;
     opacity: 0;
     z-index: 1;
 }
 .showing2{
    position: absolute;
    left: 220px;
    top: 255px;
    opacity: 1;
    z-index: 2;
 }


 .slide3{
     position: absolute;
     left: 377px;
     top: 255px;
     opacity: 0;
     z-index: 1;
 }
 .showing3{
    position: absolute;
    left: 377px;
    top: 255px;
    opacity: 1;
    z-index: 2;
 }
 li{
     list-style-type: none;
 }

